Select governance features

### From Governance Snack Dataset:


1. ein Header/ Block D Employer Identification Number text 
1. tax_yr N/A Year associated with tax_date_end text 
1. voting_memb_ct Part I/ Line 3 Number of voting members of the governing body at the end of the year integer 
1. voting_indepmemb_ct Part I/ Line 4 Number of independent voting members of the governing body at the end of the year integer employee_tot_ct 1. Part I/ Line 5 Number of employees integer volunteer_tot_ct 
1. Part I/ Line 6 Number of volunteers integer 

1. ceo_comp_review Part VI/Section B/Line 15a Have independent review of compensation for CEO, Executive Director, or top management official 
1. binary officer_comp_review Part VI/Section B/Line 15b Have independent review of compensation for other officers or key employees of the organization binary

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [9]:
cols = ['ein',
  'tax_yr',
   'voting_memb_ct',
   'voting_indepmemb_ct',
   'employee_tot_ct',
   'volunteer_tot_ct',
   'ceo_comp_review',
   'officer_comp_review',
   'conflict_interest_policy',
   'conflict_disclosure',
    'enforce_conflict_policy']

df = pd.read_csv('data_sets/Open990_Governance_Snack_Set_Public_2019-01-15.csv', usecols=cols)

In [10]:
df.head(5)

,ein,tax_yr,voting_memb_ct,voting_indepmemb_ct,employee_tot_ct,volunteer_tot_ct,conflict_interest_policy,conflict_disclosure,enforce_conflict_policy,ceo_comp_review,officer_comp_review
0,391546606,2017,9,9,8,25.0,yes,yes,yes,yes,no
1,640901077,2012,15,15,4,NaN,yes,yes,yes,no,no
2,522113016,2015,15,15,16,0.0,yes,yes,yes,yes,yes
3,454957549,2016,4,0,12,NaN,no,no,no,no,no
4,210502065,2017,28,28,3,0.0,no,NaN,NaN,yes,no

In [11]:
df.shape

(1453208, 11)

In [14]:
df.tax_yr.value_counts()

2016    237448
2015    226022
2014    208950
2013    189195
2017    178537
2012    169291
2011    138173
2010     97353
2018      8239
Name: tax_yr, dtype: int64

In [17]:
# subset to only 2017 data
df = df[df.tax_yr == 2017]

In [20]:
df.isna().sum()

ein                             0
tax_yr                          0
voting_memb_ct                  0
voting_indepmemb_ct             0
employee_tot_ct                 0
volunteer_tot_ct            48422
conflict_interest_policy        0
conflict_disclosure         53225
enforce_conflict_policy     53002
ceo_comp_review               495
officer_comp_review           565
dtype: int64